.mt-30 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.avatar64 {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.widget-loan .loan-link{
    margin-top:15px;
    display: block;
    text-decoration:none;
}
.widget-loan .media {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.widget-loan .row-item {
    color: #999;
    line-height: 28px;
}
.widget-loan .loan_name,.widget-loan .loan_money{
    color:#666;
}
.widget-loan .loan_name{
    font-size:16px;
}
.widget-loan .loan_money{
    font-weight: 600;
}
.nav {border-bottom: 1px solid #eee;}
